/*如需要全局重置样式 可以引入reset css ,但是我觉得没必要*/

body {
    font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0;
    font-weight: 400;
}
