html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Consolas, "Courier New", Courier, FreeMono, "Lucida Console",
    Monaco, monospace;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}
